.cardContainer{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    text-align:center;
    width: 340px
}

.gridComponent{
    display: flex;
    gap: 10px;
    width:800px;
    flex-wrap: wrap;
}